<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ExpediaRegression">
	<parameter name="browser" value="firefox"/>
	<parameter name="captureScreenshots" value="true"/>
	<parameter name="url" value="https://www.expedia.co.in/"/>
	<test name="Flights">
		<classes>
			<class name="expedia.Flights" />
		</classes>
	</test> <!-- Flights -->
</suite> <!-- ExpediaRegression -->
